*{
  margin:0;
  padding:0;
}
body{
  height: 100vh;
  background-image: linear-gradient(#D8C7FF,#19006C);
  font-family: 'poppins' ;
}
.opt:hover{
  color:greenyellow;
}
.btn1:hover{
  color:blue;
}
.btn2:hover{
  color:blue;
}